/*----------------------------------------Colors*/

body {
    background-color: #d8d8d8;
}

.bg-color-home {
    background-color: #9e95d8;
}

.bg-color-treatments {
    background-color: #d8d8d8;
}

footer {
    background-color: #9e95d8;
}

/*----------------------------------------Margins and Text*/

header {
    margin: 0;
}

body {
    margin: 0;
}


/*----------------------------------------Header*/

#content {
    width: 100%;
    height: 144px;
    border: 1px solid #9e95d8;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.content-2 {
    margin-top: 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.boxlogo {
    height: 140px;
    width: 50%;
}

.logoimg {
    height: 144px;
    width: 188px;
}

.menuitem {
    width: 48%;
    height: 70px;
    text-align: center;
    padding: 0;
    border: 1px solid #9e95d8;
}

.menuitem a {
    text-decoration: none;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
}

.menuitem-1 a span {
    width: 100%;
    color: #d8d8d8;
    height: 70px;
    margin-top: 20px;
}

.menuitem-2 a span {
    width: 100%;
    color: #9e95d8;
    height: 70px;
    margin-top: 20px;
}

/*----------------------------------------Main Section*/

section {
    min-height: 100%;
}

.welcome {
    color: #9e95d8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.brief-description {
    color: #9e95d8;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.welcome-img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    border: #9e95d8 solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brief-description-2 {
    color: #9e95d8;
    margin: 30px 15px 30px 15px;
}

.about-section {
    margin-bottom: 10px;
}

.content-3 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.image {
    justify-content: centre;
    width: 25%;
}

.wrinkle-areas {
    width: 32%;
    text-align: center;
}

.treatments {
    color: #9e95d8;
    text-transform: uppercase;
}

.wrinkle {
    text-align: center;
}

.dermal {
    color: #9e95d8;
    margin-left: 0px;
}

.dermal a {
    color: #9e95d8;
    text-decoration: none;
}

.dermal a:hover {
    color: darkviolet;
}

.area {
    margin-left: 2px;
    margin-right: 0;
    width: 23%;
}

.prices {
    margin-left: -7px;
    width: 18%;
}

.treatments-img {
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 50%;
    border: #9e95d8 solid 1px;
}

.sub-section {
    color: #9e95d8;
}

.sub-section a {
    color: #9e95d8;
    text-decoration: none;
}

.sub-section a:hover {
    color: darkviolet;
}

.insurance {
    color: #9e95d8;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 40px;
}

.insurance-logo {
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #9e95d8;
    text-align: center;
}

.enquiry {
    text-transform: uppercase;
    color: #9e95d8;
    text-align: center;
}

.contact-form {
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 5px;
}



button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #9e95d8;
    color: #d8d8d8;
}


input,
textarea {
    width: 70%;
    background-color: #d9d9d9;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

placeholer {
    color: #9e95d8;
}

iframe {
    max-width: 100%;
}

/*----------------------------------------Treatments*/

.treatment-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3 {
    color: #9e95d8;
    text-align: center;
    text-transform: uppercase;
}

.list-treatment-description {
    color: #9e95d8;
    margin-left: auto;
    margin-right: auto;
}

.treatment-description {
    color: #9e95d8;
    margin-left: 10px;
    margin-right: 10px;
}

.lips-img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #9e95d8;
    color: #d8d8d8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 5px 15px 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.button:hover {
    background-color: darkviolet;
}

/*----------------------------------------Hover.css*/

.menuitem:hover {
    background: darkviolet;
    height: 70px;
}

/*----------------------------------------Footer*/

footer {
    min-height: 90px;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 2px;
    margin-right: 2px;
}

footer h4 {
    font-size: 10px;
    color: #d8d8d8;
    text-transform: uppercase;
}

footer p {
    font-size: 10px;
    color: #d8d8d8;
}

.box-about {
    width: 33.33%;
    text-align: center;
}

.box-contact {
    width: 33.33%;
    text-align: center;
}

.box-social {
    width: 33.33%;
    text-align: center;
}

.social-links {
    padding-left: 0px;
}

.social-links li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.social-links li a i {
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #9e95d8;
    background: #d8d8d8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: darkviolet;
    height: 100%;
}


/*----------------------------------------Media Queries*/

/*-----Tablet ---*/

/*----------------------------------------Tablet Header*/

@media (min-width: 768px) {

    #content {
        height: 250px;
    }

    .logoimg {
        height: 250px;
        width: 385px;
        align-content: center;
    }

    .menuitem {
        height: 123px;
    }

    .menuitem span {
        font-size: 25px;
    }

    .menuitem-1 a span {
        height: 137px;
        margin-top: 40px;
    }

    .menuitem-2 a span {
        height: 137px;
        margin-top: 40px;
    }

    .menuitem:hover {
        background: rgba(0, 0, 0, 0.2);
        height: 123px;
    }

    /*----------------------------------------Tablet Main Section*/
    .welcome {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .brief-description {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .welcome-img {
        width: 150px;
        height: 150px;
        padding: 5px;
    }

    .brief-description-2 {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .content-3 {
        font-size: 22px;
    }

    .dermal {
        font-size: 22px;
    }

    .prices {
        font-size: 22px;
        margin-left: -15px;
    }

    .wrinkle-areas {
        font-size: 22px;
    }

    .treatments-img {
        width: 200px;
        height: 200px;
    }

    .insurance {
        font-size: 14px;
    }

    .insurance-logo {
        width: 70px;
    }

    /*----------------------------------------Tablet Treatments*/
    .treatment-logo {
        margin-bottom: 30px;
    }

    .button {
        font-size: 20px;
    }

    h3 {
        font-size: 30px;
    }

    .list-treatment-description {
        font-size: 20px;
        margin-left: 160px;
    }

    .treatment-description {
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 22px;
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin-bottom: 30px;
    }

    /*----------------------------------------Tablet Footer*/
    footer h4 {
        font-size: 15px;
    }

    footer p {
        font-size: 15px;
    }

    .social-links li a i {
        width: 35px;
        height: 35px;
        padding: 6px;
        font-size: 30px;
        line-height: 35px;
    }


}

/*-----Desktop-----*/

/*----------------------------------------Desktop Header*/

@media (min-width: 1024px) {
    .logoimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #content {
        height: 400px;
        width: 100%;
        margin-top: 5px;
        border: none;
    }

    .content-2 {
        width: 100%;
        height: 144px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    .menuitem {
        height: 100px;
        width: 200px;
        margin-top: 250px;
    }

    .menuitem-1 a span {
        height: 137px;
        margin-top: 30px;
    }

    .menuitem-2 a span {
        height: 137px;
        margin-top: 30px;
    }

    .menuitem:hover {
        background: rgba(0, 0, 0, 0.2);
        height: 100px;
    }

    .boxlogo {
        width: 100%;
    }

    .about {
        background-color: #9e95d8;
    }

    .contact {
        background-color: #d8d8d8;
    }

    .about a span {
        width: 100%;
        color: #d8d8d8;
        height: 100px;
        margin-top: 30px;
    }

    .contact a span {
        width: 100%;
        color: #9e95d8;
        height: 100px;
        margin-top: 30px;
    }

    /*----------------------------------------Desktop Main Section*/
    .welcome {
        font-size: 50px;
    }

    .brief-description {
        font-size: 25px;
    }

    .welcome-img {
        width: 250px;
        height: 250px;
        padding: 5px;
    }

    .brief-description-2 {
        font-size: 25px;
    }

    .content-3 {
        font-size: 35px;
    }

    .dermal {
        font-size: 25px;
        margin-left: 3px;
    }

    .prices {
        font-size: 25px;
        margin-left: -15px
    }

    .wrinkle-areas {
        font-size: 25px;
    }

    .insurance {
        font-size: 18px;
    }

    .insurance-logo {
        width: 80px;
    }

    /*----------------------------------------Desktop Treatments*/
    .treatment-logo {
        margin-bottom: 30px;
    }

    .button {
        font-size: 25px;
    }

    h3 {
        font-size: 35px;
    }

    .list-treatment-description {
        font-size: 25px;
        margin-left: 160px;
    }

    .treatment-description {
        font-size: 25px;
        text-align: center;
    }

    /*----------------------------------------Desktop Footer*/
    footer h4 {
        font-size: 20px;
    }

    footer p {
        font-size: 20px;
        padding-left: 1px;
    }
}
